.card {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #1dd1a1, #54a0ff);
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3),
    0 10px 10px rgba(84, 160, 255, 0.9);
  opacity: 1;
  transform: scale(0.9);
}
